/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
		position:relative;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


.container {
	display: inline-block;
	cursor: pointer;
}
div.menuIcon {
	width: 35px;
	height: 5px;
	background-color: white;
	margin: 6px 0;
}
.menuBar {
	width: 100%;
	background-color: #000000;
	overflow: auto;
}
.menuBar a {
float: left;
 width: 20%;
 text-align: center;
 padding: 12px 0;
 transition: all 0.3s ease;
 color: #009900;
 font-size: 36px;
}
.menuBar a:hover {
	background-color: #555;
}
